[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki/

[Service]
PassEnvironment=SWAYSOCK
Environment=XDG_CURRENT_DESKTOP=Unity
Type=dbus
BusName=fr.arouillard.waybar
ExecStart=waybar
Restart=always

[Install]
WantedBy=graphical.target

