[user]
  email = nmiller@attilasec.com
  name = Nick Miller
[credential]
  username = jeefberkey
  helper = cache
[push]
  default = simple
[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=2 -RFX
# editor = atom --wait
[merge]
  tool = meld
[mergetool "meld"]
  #cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[diff]
  algorithm = patience
  tool = meld
  wsErrorHighlight = context
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

# [commit]
# gpgsign = true
[gpg]
  program = /usr/bin/gpg2
[help]
  autocorrect = 8
[alias]
#  amend = commit --amend --no-edit
[pull]
  rebase = true
[rebase]
  autoStash = true
[rerere]
  enabled = true
[diff "ansible-vault"]
  textconv = ansible-vault view --vault-password-file ~/attila/devops/gs-deploy/open_vault.sh
  cachetextconv = false
[color]
  ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff-so-fancy]
	markEmptyLines = false
