[user]
	email = nick.miller@onyxpoint.com
	name = Nick Miller
	signingkey = AFFEA6BBC7EC83A3
[credential]
	username = jeefberkey
	helper = cache
[push]
	default = simple
[core]
	editor = vim
[merge]
	tool = meld
[hub]
	protocol = ssh
[diff]
	algorithm = patience
	tool = meld
#	external = meld-diff
[help]
	autocorrect = 8
