[user]
	email = nick.miller@onyxpoint.com
	name = Nick Miller
[credential]
	helper = /usr/share/doc/git-core-doc/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[push]
	default = simple
[core]
	editor = vim
