[submodule ".yadm-data/j4-menu-desktop"]
	path = .yadm-data/j4-menu-desktop
	url = https://github.com/enkore/j4-dmenu-desktop.git
[submodule ".yadm-data/dmenu-q-xywh-xft"]
	path = .yadm-data/dmenu-q-xywh-xft
	url = https://github.com/mil/dmenu-q-xywh-xft.git
[submodule ".yadm-data/fonts"]
	path = .yadm-data/fonts
	url = https://github.com/powerline/fonts.git
[submodule ".yadm-data/i3-gaps"]
	path = .yadm-data/i3-gaps
	url = https://github.com/Airblader/i3.git
[submodule ".yadm-data/i3blocks"]
	path = .yadm-data/i3blocks
	url = https://github.com/vivien/i3blocks.git
