"*":
  "atom-beautify":
    _analyticsUserId: "dc0d7719-a7ea-4188-9036-8f8d2ecbfb12"
  core:
    disabledPackages: [
      "background-tips"
      "autosave"
      "welcome"
      "hidpi"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 140
    showIndentGuide: true
  "exception-reporting":
    userId: "276f8864-fdd1-5b53-357e-8944a1ef1475"
  hidpi:
    scaleFactor: 1.2
  linter:
    ignoredLinterErrors: [
      "puppet-lint"
    ]
  "linter-puppet-lint":
    oldVersion: false
    puppetLintArguments: "--disable_class_parameter_defaults"
    skip80Chars: true
    skipClassInherithsFromParamClass: true
    skipSelectorInsideResource: true
    skipVariablesNotEnclosed: true
  "markdown-preview": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
