"*":
  "atom-beautify":
    general:
      _analyticsUserId: "aad78b8c-25a5-4445-9b1b-b8f18a07589c"
  core:
    disabledPackages: [
      "background-tips"
      "autosave"
      "welcome"
      "hidpi"
    ]
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 80
    showIndentGuide: true
  "exception-reporting":
    userId: "276f8864-fdd1-5b53-357e-8944a1ef1475"
  "file-icons":
    onChanges: true
  "git-diff": {}
  hidpi:
    scaleFactor: 1.2
  linter:
    errorPanelHeight: 184
    statusIconScope: "File"
  "linter-puppet-lint":
    automaticFix: true
    oldVersion: false
  "markdown-preview": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".ldif.text":
  editor:
    preferredLineLength: 140
".puppet.source":
  editor:
    preferredLineLength: 140
