[Desktop Entry]
Version=1.0
Type=Application
Name=Nightly
Exec="/home/nick/src/firefox/firefox" %u
#Exec=nightly-wayland --name firefox-wayland %u
Icon=/usr/share/icons/Paper/48x48@2x/apps/firefox-nightly-icon.png
Terminal=false
